.title {
  background: radial-gradient(blue, transparent);
  margin-top: 4rem;
  border-radius: 22px;
  font-size: 2rem;
  width: max-content;
  padding: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.main-index {
  display: flex;
  position: relative;
  z-index: 999;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 4rem;
  margin-bottom: 4rem;
}
.app section,
.main-index section {
  position: relative;
  z-index: 999;
}

.card img {
  width: 49%;
  object-fit: contain;
  /* height: -webkit-fill-available; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
  height: 200px;
}
.card p {
  font-size: 1.3rem;
}
.card {
  width: 300px;
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid green;
}
.card main {
  padding: 0.5rem 1rem;
}
.card button:hover {
  background-color: green;
  color: white;
  border: 1px solid green;
}
.card button {
  width: 100%;
  padding: 0.7rem;
  outline: 0;
  color: green;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid black;
  margin: 1rem 0rem;
  border-radius: 5px;
  transition: 0.2s all ease-in;
}
