.title {
  background: radial-gradient(blue, transparent);
  margin-top: 4rem;
  border-radius: 22px;
  font-size: 2rem;
  width: max-content;
  padding: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.main-index {
  display: flex;
  position: relative;
  z-index: 999;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 4rem;
  margin-bottom: 4rem;
}
/* ! bg image */
/* .index-first-bg {
  position: absolute;
  right: -7px;
  top: -14px;
  width: 100%;
} */
