.cart-topbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.cart-topbar .title {
  margin-left: 0rem !important;
}
.cart-topbar button {
  background-color: green;
  color: white;
  width: 300px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  border: 1px solid white;
}
.delete-icon {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
.card-index {
  display: flex;
  position: relative;
  z-index: 999;
  justify-content: left;
  flex-wrap: wrap;
  padding-top: 4rem;
  margin-bottom: 4rem;
  gap: 60px;
}
.emptyBasket {
  margin-top: 2rem;
  text-align: center;
}
.emptyBasket p {
  margin-left: 2rem;
  font-size: 1.5rem;
}
.emptyBasket img {
  width: 300px;
  margin: 0rem auto;
  display: block;
}
