.card img {
  width: 49%;
  object-fit: contain;
  /* height: -webkit-fill-available; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
  height: 200px;
}
.card p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  height: 50px;
}
.card {
  width: 300px;
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid green;
}
.card main {
  padding: 0.5rem 1rem;
  height: 196px;
}
.card button:hover {
  background-color: green;
  color: white;
  border: 1px solid green;
}
.card button {
  width: 100%;
  padding: 0.7rem;
  outline: 0;
  color: green;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid black;
  margin: 1rem 0rem;
  border-radius: 5px;
  transition: 0.2s all ease-in;
}
.card-details p {
  margin-top: 0px;
  height: 22px;
}
.card-details {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
