.app {
  padding: 0rem 2rem;
  min-height: 97vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
/* <<<<<<<< start footer >>>>>>>> */

.app footer {
  text-align: center;
  width: 100%;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: auto;
  border-top: 1px solid black;
}
.app footer a {
  text-decoration: none;
  color: #2b2b2b;
}
.my-name {
  color: crimson;
  font-size: 20px;
  font-weight: 700;
}

/* <<<<<<<< end footer >>>>>>>> */

/* <<<<<<<<<<< swal >>>>>>>>>>> */
.swal-footer {
  text-align: center !important;
}
.swal-button--confirm {
  background-color: green !important;
}

.swal-button--cancel {
  background-color: #c3c1c1 !important;
  color: black !important;
}
.swal-title {
  padding-bottom: 31px;
}
